.row.ft-navbar
  .col-md-2.col-sm-2
  .navbar-header.col-md-8.col-sm-8
    %nav.navbar.navbar-default.ft-navbar
      .container-fluid.ft-nav
        %ul.nav.navbar-nav
          %li
            = link_to("Home", "/")
          %li
            = link_to("Guests", "/")
          %li
            = link_to("About", "/")
  .col-md-2.col-sm-2
