.row.ft-navbar
  .col-md-2.col-sm-2
  .navbar-header.col-md-8.col-sm-8
    %nav.navbar.navbar-default.ft-navbar
      .container-fluid.ft-nav
        %ul.nav.navbar-nav
          %li
            = link_to(image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSbKP8ioaxjBUz7AQGZbuSumLQre-eRo1l8pmJ444erTIHzVBCrUQ", class: "logo") + " NBA", "/", class: "ft-nba navbar-brand")
  .col-md-2.col-sm-2
-#.row
-#  .col-md-2.col-sm-2
-#  .navbar-header.col-md-8.col-sm-8
-#    %nav.navbar.navbar-default.ft-navbar-2
-#      .container-fluid.ft-nav
-#        %ul.nav.navbar-nav
-#          %li
-#            = link_to("Home", "/")
-#          %li
-#            = link_to("Guests", "/guests")
-#          %li
-#            = link_to("About", "/about")
-#  .col-md-2.col-sm-2
