%snap-drawers
  %snap-drawer.custom-snap-drawer
    %p
      Hello from drawer!
%snap-content.nav-sidebar
  %span{ "snap-toggle" => "left" }
    Look Around
  -#= button_tag("Look Around", { "snap-toggle" => "left" })
