.row
  = render "nav"
.row
  .col-md-2.col-sm-2
  .col-md-8.col-sm-8{ "ng-app" => "first_take_nba" }
    .row
      = render "carousel"
    -#.view-frame.animate-view{ "ng-view" => "" }
    .row
      = render "headlines"
      .col-md-4.col-sm-4.twitter-box
        = render "twitter/twitter_box"
  .col-md-2.col-sm-2