-#.twitter-header
-#  %h5
-#    = link_to(image_tag("http://a.espncdn.com/prod/assets/bird_16_blue.png") + "Follow Skip Bayless on Twitter",
-#    "http://twitter.com/ESPN_FirstTake", target: "_blank")
-#.twitter-feed-container
-#  = render "twitter/twitter_feed"
= link_to("Tweets by Skip Bayless", "https://twitter.com/RealSkipBayless", class: "twitter-timeline", "data-widget-id" => "672623130808967168")
