.ft-navbar {
  background-color: black !important;
  min-height: 80px !important;
  margin-bottom: 0px !important;
  border-color: transparent !important;
}
.ft-nav {
  .logo {
    width: 100px;
    height: 50px;
    display: inline;
  }
}
.ft-nba {
  color: #ffb300 !important;
  font-style: italic;
  font-weight: bold;
  min-height: 65px;
}
.twitter-box {
}
.twitter-header {
  height: 25px;
  clear: both;
  background: transparent url("http://a2.espncdn.com/prod/assets/module_header_gradient.gif") repeat-x scroll 0px 0px;
  h5 {
    img {
      margin: 6px;
    }
    a {
      color: white;
    }
  }
}
.twitter-feed-container {
  background: #FFF url("http://a2.espncdn.com/prod/assets/gradient_back.jpg") repeat-x scroll center bottom;
  border-width: 0px 1px;
  border-color: #C2C2C2;
  border-style: solid;
}
.twitter-feed {
  padding: 10px;
  :nth-child(even){
    background-color: #E9E9E9;
  }
  border: 1px solid #C2C2C2;
  height: 245px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  li {
    padding: 5px;
    box-shadow: 6px 0px 10px -10px #696C5C inset, 6px 0px 10px -10px #696C5C inset;
    border-width: 0px 1px;
    border-color: #C2C2C2;
    border-style: solid;
  }
}

.scorebox {
  text-align: center;
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 5px;
  button {
    float: none !important;
  }
}

.custom-nav-sidebar {
  position: fixed;
  span {
    font-weight: bold;
  }
  a {
    box-shadow: 10px 10px 5px #888888;
    background-color: #ffb300;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 2px solid #ffb300;
    font-weight: bold;
    color: #000000 !important;
    float: left;
    width: 80px;
  }
  a:hover {
    background-color: transparent !important;
  }
}

.custom-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.custom-embed-container iframe,
.custom-embed-container object,
.custom-embed-container embed {
  position: absolute;
  top: 0; left: 0;
//  width: 100%;
//  height: 100%;
}

.custom-carousel-container {
  margin: auto;
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.custom-fade.ng-hide {
  opacity: 0;
  transition:0.2s linear all;
  transform:translateX(-100px);
}

.custom-fade {
  transition:0.2s linear all;
  transform:translateX(0);
  padding-left: 10px !important;
  width: 90px;
}

.sidebar-hamburger {
  margin-left: 10px;
  margin-top: 50px;
  background-color: #ffb300;
  border: medium none !important;
  border-radius: 5px;
}

.sidebar-arrow {
  background-color: #ffb300;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #ffb300;
  transform-origin: 0% 140%;
  transform: rotate(90deg) !important;
  font-weight: bold;
  padding: 3px;
  width: 50px;
}
